div.rating{
  float:left;
  padding: 1em 0;
  margin-right: 2em;
}

.rating .cancel,
.rating .star {
  float: left;
  width: 17px;
  height: 15px;
  overflow: hidden;
  text-indent: -999em;
}

.rating .cancel,
.rating .cancel a {
  background: url(images/delete.gif) no-repeat 0 -16px;
}

.rating .star,
.rating .star a {
  background: url(images/star.gif) no-repeat 0 0px;
}

.rating .cancel a,
.rating .star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0px;
}

.rating div.on a {
  background-position: 0 -16px;
}

.rating div.hover a.mod,
.rating div a.mod:hover {
  background-position: 0 -32px;
}

.rating .rating-text {
  margin-left: 1em;
}

.rating .rating-message {
  margin-top: 1.5em;
  padding: 0 1em;
  clear: both;
}

.rating .num-votes {
  clear: left;  
}

form.rating {
  display: none;
}

/* hack for clearing the float */
.rating-item:after { 
    content: "."; 
    display: block; 
    height: 0;
    font-size:0;
    clear: both; 
    visibility: hidden;
}

.rating-item {
  display: inline-block;
 }
